chapter03/linear_search
chapter03/linear_search_with_index
chapter03/linear_search_with_minimum
chapter03/linear_search_with_pair_minimum
chapter03/bit_search

chapter04/recursive_function_to_sum
chapter04/greatest_common_divisor
chapter04/fibonacci_sequence
chapter04/fibo_with_for_loop
chapter04/memoized_fibo
chapter04/recurcive_partial_sum

chapter05/frog_problem_by_dp
chapter05/frog_problem_by_dp_with_relaxation
chapter05/frog_problem_by_pull_based_dp
chapter05/frog_problem_by_memoized_recursion